/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

.markdown img {
  border-radius: 0.3rem;
}

.markdown code::before {
  content: "";
}

.markdown code::after {
  content: "";
}